# DataFrame Subsets

References
* https://towardsdatascience.com/23-efficient-ways-of-subsetting-a-pandas-dataframe-6264b8000a77
* https://sparkbyexamples.com/pandas/pandas-select-columns-by-name-or-index/
* https://pandas.pydata.org/docs/user_guide/indexing.html

In [ ]:

import pandas as pd

In [ ]:
# initialize list of lists
data = [['1949', 'Jan', 112], ['1949', 'Feb', 118], ['1949', 'Mar', 132], ['1949', 'Apr', 129], ['1949', 'May', 108],
        ['1950', 'Jan', 110], ['1950', 'Feb', 121], ['1950', 'Mar', 112], ['1950', 'Apr', 138], ['1950', 'May', 113],
        ['1951', 'Jan', 129], ['1951', 'Feb', 134], ['1951', 'Mar', 118], ['1951', 'Apr', 111], ['1951', 'May', 125],
        ['1952', 'Jan', 111], ['1952', 'Feb', 125], ['1952', 'Mar', 133], ['1952', 'Apr', 121], ['1952', 'May', 115],
        ['1953', 'Jan', 125], ['1953', 'Feb', 133], ['1953', 'Mar', 111], ['1953', 'Apr', 132], ['1953', 'May', 121],
        ['1954', 'Jan', 129], ['1954', 'Feb', 112], ['1954', 'Mar', 112], ['1954', 'Apr', 129], ['1954', 'May', 118],
        ['1955', 'Jan', 133], ['1955', 'Feb', 118], ['1955', 'Mar', 128], ['1955', 'Apr', 122], ['1955', 'May', 132]]

# Create the pandas DataFrame
flights = pd.DataFrame(data, columns=['year', 'month','passengers'])

# print dataframe.
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         108

## Selecting multiple columns using the column names

In [ ]:
# select only 2 columns "year" and passengers

year_passengers=flights[['year','passengers']]
year_passengers.head(10)

   year  passengers
0  1949         112
1  1949         118
2  1949         132
3  1949         129
4  1949         108
5  1950         110
6  1950         121
7  1950         112
8  1950         138
9  1950         113

## Selecting a single column using the .loc attribute

The general syntax of the .loc attribute is:

```
df.iloc['row_index', 'column_index']
```



References
* https://sparkbyexamples.com/pandas/pandas-select-columns-by-name-or-index/
* https://towardsdatascience.com/23-efficient-ways-of-subsetting-a-pandas-dataframe-6264b8000a77

In [ ]:
df1=flights.iloc[:1:] # Select From 2rd to end
df1

   year month  passengers
0  1949   Jan         112

In [ ]:

df2=flights.iloc[:,[0,2]] # # Using iloc[] to select column by Index
df2.head(10)

   year  passengers
0  1949         112
1  1949         118
2  1949         132
3  1949         129
4  1949         108
5  1950         110
6  1950         121
7  1950         112
8  1950         138
9  1950         113