# **Create a Dataframe**

**References**
* Different ways to create Pandas Dataframe: https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

In [ ]:

# Import pandas library
import pandas as pd

### **Method #0:Creating an Empty DataFrame**

In [ ]:
# Creating Empty DataFrame and Storing it in variable df
df_m0 = pd.DataFrame()
 
# Printing Empty DataFrame
print(df_m0)

Empty DataFrame
Columns: []
Index: []

### **Method #1: Creating  Dataframe from Lists**

In [ ]:
# initialize list elements
data_m1 = [10,20,30,40,50,60]
 
# Create the pandas DataFrame with column name is provided explicitly
df_m1 = pd.DataFrame(data_m1, columns=['Numbers'])
 
# print dataframe.
df_m1

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60

### **Method #2 Creating Pandas DataFrame from lists of lists.**

In [ ]:
# initialize list of lists
data_m2 = [['1949', 'Jan', 112], ['1949', 'Feb', 118], ['1949', 'Mar', 132], ['1949', 'Apr', 129], ['1949', 'May', 121]]
 
# Create the pandas DataFrame
flights = pd.DataFrame(data_m2, columns=['year', 'month','passengers'])
 
# print dataframe.
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [ ]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        5 non-null      object
 1   month       5 non-null      object
 2   passengers  5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

### **Method #3: Creating DataFrame from dict of narray/lists**

To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

Reference
* https://sparkbyexamples.com/pandas/pandas-create-dataframe-from-dict-dictionary/

In [ ]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.
 
import pandas as pd
 
# initialize data of lists.
data_m3 = {'Name': ['Tom', 'nick', 'krish', 'jack'],
        'Age': [20, 21, 19, 18]}
 
# Create DataFrame
df_m3 = pd.DataFrame(data_m3)
 
# Print the output.
df_m3

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18